//Colors
$color-primary-purple: #3734ec;
$color-primary: #248b93;
$color-primary-light: #5ffbf1;
$color-grey-dark: rgb(80, 80, 80);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-grey-light1: #f7f7f7;

//Grid

$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 4rem;
