.footer {
  background-color: rgba($color: #252525, $alpha: 1.0);
  padding: 8rem 0;
  font-size: 1.6rem;
  color: rgb(201, 201, 201);

  @include respond(phone) {
    padding: 4rem;
  }
  @include respond(tab-port) {
    padding: 6rem;
  }
  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;

    @include respond(phone) {
      margin-bottom: 2rem;
    }
    @include respond(tab-port) {
      margin-bottom: 3rem;
    }
    @include respond(tab-land) {
      margin-bottom: 4rem;
    }
  }
  &__logo {
    width: 10rem;
    height: auto;
    @include respond(phone) {
      width: 10rem;
      height: auto;
    }
    @include respond(tab-port) {
      width: 12.5rem;
      height: auto;
    }
  }
  &__navigation {
    text-align: center;
    border-top: .1rem solid rgb(214, 214, 214);
    padding-top: 2rem;
  }
  &__list {
    list-style: none;
  }

  &__list:hover &__link:not(:hover) {
    transform: scale(0.98);
  }

  &__item {
    display: inline-block;
    border-bottom: .3rem solid transparent;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  &__link {
    &:link,
    &:visited {
      color: rgb(214, 214, 214);
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all .2s;
    }
    &:hover,
    &:active {
      padding: .3rem;
      padding-left: .8rem;
      color: $color-primary;
      border-bottom: .3rem solid $color-primary;
      transform: translateY(-.3rem) scale(1.02) rotate(-2deg);
     letter-spacing: .1rem;
     
    }
  }

  &__copyright {
    padding-top: 2rem;
    border-top: .1rem solid rgb(214, 214, 214);
    color: rgb(201, 201, 201);
  }
}
