.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: .2);

    &:hover {
      cursor: pointer;

      box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: .2);
    }
    &:active {
      transform: translateY(.2rem);
      box-shadow: 0 .5rem 1rem rgba($color: #000000, $alpha: .4);
    }
  }
  &__background {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1000;
    height: 300rem;
    width: 300rem;

    border-radius: 50%;

    position: fixed;
    top: -140.5rem;
    right: -140.5rem;
    background-image: linear-gradient(
      to bottom right,
      rgba(49, 62, 235, 0.95),
      rgba(0, 90, 238, 0.95),
      rgba(0, 110, 226, 0.95),
      rgba(0, 124, 204, 0.95),
      rgba(0, 133, 179, 0.95),
      rgba(0, 145, 179, 0.95),
      rgba(7, 156, 176, 0.95),
      rgba(48, 166, 171, 0.95),
      rgba(58, 187, 189, 0.95),
      rgba(82, 229, 224, 0.95),
      rgba(95, 251, 241, 0.95)
    );
    backdrop-filter: blur(1rem);
    box-shadow: -2rem 2rem 8rem rgba($color: #000000, $alpha: .6);
    transition: transform .6s linear;
    -webkit-font-smoothing: subpixel-antialiased;
    transform: translateZ(0) scale(0);
  }
  &__nav {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    transition: all .6s linear;

    opacity: 0;
    transform: scale(0);
    height: 0;
    width: 0;
  }
  &__list {
    @include centerXY;
    list-style-type: none;
    text-align: center;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      color: white;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;

      //Menu white effect

      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        white 50%
      );
      background-size: 300%;
      transition: all .4s;
    }

    //Button functionality

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(2rem);
      box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: .2);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: translateZ(0) scale(1);
    -webkit-font-smoothing: subpixel-antialiased;
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    height: 100vh;
    transform: scale(1);
  }

  //Menu sandwitch icon

  &__icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }
    &::before {
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
