.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  object-fit: cover;
  object-position: left;
  opacity: .4;
  &__img {
    height: 100%;
    width: 100%;

    // PROPERTY TO MANTAIN THE APECT RATIO OF THE VIDEO OR IMAGE TO FIT THE CONTAINER
    // works with html elements

    object-fit: cover;
  }
}
