.composition {
  position: relative;

  @include respond(phone) {
    padding-bottom: 25rem;
  }
  @include respond(tab-port) {
    padding-bottom: 33rem;
  }
  &__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: .5rem;
    position: absolute;
    z-index: 0;
    transition: all .2s;
    outline-offset: 1rem;

    &--p1 {
      top: 2rem;
      left: 0;
      &:active {
        top: -3rem;
        right: 0;
        @include respond(phone) {
          top: -2.2rem;
          left: 0;
        }
        @include respond(tab-port) {
          top: -3rem;
          left: 0;
        }
        @include respond(tab-land) {
          top: -2.5rem;
          left: 0;
        }
      }
    }
    &--p2 {
      top: 0rem;
      right: 0;
      &:active {
        top: -1.5rem;
        right: 0;
        @include respond(phone) {
          top: -2.2rem;
          right: 0;
        }
        @include respond(tab-port) {
          top: -3rem;
          right: 0;
        }
        @include respond(tab-land) {
          top: -.5rem;
          right: 0;
        }
      }
    }
    &--p3 {
      top: 12rem;
      right: 10rem;
      &:active {
        top: -3rem;
        right: 0;
        @include respond(phone) {
          top: -2.3rem;
          right: 0;
        }
        @include respond(tab-port) {
          top: -3rem;
          right: 0;
        }
        @include respond(tab-land) {
          top: -2.3rem;
          right: 0;
        }
      }
    }
    &:hover {
      outline: .5rem solid $color-primary;
      z-index: 2;
      transform: scale(1.1) translateY(-.5rem);
      box-shadow: 0 3rem 8rem rgba($color-black, .5);

      @include respond(tab-port) {
        outline: none;
      }
      @include respond(phone) {
        outline: none;
      }
      &:active {
        width: 100%;
        transform: scale(.8);
        @include respond(phone) {
          transform: scale(.8);
        }
        @include respond(tab-port) {
          transform: scale(.8);
        }
        @include respond(tab-land) {
          transform: scale(.8);
        }
      }
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(.9);
    box-shadow: 0 1rem 4rem rgba($color-black, .6);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  .figcaption {
    position: absolute;
    margin-bottom: 4rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @include respond(phone) {
      top: -3rem;
    }
  }
}
