/* BROWSER RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* Padding and margin are not added to the total width or height of the box  */
}

html {
  font-size: 65%;
  @media (max-width: 600px) {
    font-size: 55%;
  }
}

body {
  font-family: 'Big Shoulders Text', cursive;
  line-height: 1.5;
  color: $color-grey-dark;
  box-sizing: border-box;
}
